#cloud-config
users:
  - name: ansible
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDk7TD124Wo0NTiAP6NHGHbAiVgGl/WcLOutWMKHrxye ilyabukhantsov5@gmail.com

ssh_pwauth: false
disable_root: true
chpasswd:
  list: |
    root:12345678
  expire: false
growpart:
  mode: auto
  devices: ['/']
